body {
    margin: 0;
    padding: 0;
    background-color: #F3F1EE;
}

.heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    background-color: rgb(218, 213, 213);
    color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.img-1 {
    height: 400px;
    width: 700px;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 100px;
    margin: 0 auto;
    display: flex;
}

.img-1:hover {
    background-color: rgb(79, 78, 77);
    cursor: pointer;

}

.quote {
    text-align: center;
    margin: 10px;
}

.para-1 {
    text-align: left;
    margin: 20px;
    font-size: larger;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    background-color: rgb(218, 213, 213);
    color: black;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    text-align: left;
}

.items{
    margin-left: 15px;
    font-size: larger;
}