body {
    margin: 0;
    padding: 0;
    background-color: #F3F1EE;
}

.heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    background-color: #F3F1EE;
    color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
    margin-top: 80px;
}

.img-1 {
    height: 400px;
    width: 700px;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 100px;
    margin: 0 auto;
    display: flex;
}

.img-1:hover {
    background-color: rgb(79, 78, 77);
    cursor: pointer;

}

.quote {
    text-align: center;
    margin: 10px;
}

.para-1 {
    text-align: left;
    margin: 30px;
    font-size: larger;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    background-color: #F3F1EE;
    color: black;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    text-align: left;
}

.items{
    margin-left: 30px;
    font-size: larger;
}

.branch-title {
    text-align: center;
    background-color: #F3F1EE;
}

.branch-container {
    background-color:#DED0B6;    
    width: 800px;
  
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 10px;

}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 200px;
    
}

.btn-toggle {
    /* margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 45%; */
    padding: 15px;
    border-radius: 30px;
    border: none;
    color: white;
    width: 150px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 20px;
    background-color:rgb(183, 120, 4);
   /* margin-left: 10px; */
   margin: 15px;
    

    
}

.btn-toggle:hover{
    transform: scale(0.9);
    /* transition: 0.5s; */
    transition: 1s ease-in;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .branch-container {
        width: 100%;
    }

    .branch-img {
        height: 150px;
    }
}

.branch-img {
    height: 400px;
   
}

.col-4{
    background-color: #FAEED1;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    
}

.slides {
    display: flex;
    margin: 0 auto;
    border:4px solid black;
    
   
}

.service-header  {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 60px;
    background-color: #F3F1EE;
   
}
@media screen and (max-width:768px)
{
    .service-header  {
     
        font-size: 30px;
       
    }
}

.services {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;  
    margin-top: -40px;
}
.card11 {
    border:none;
    height: 380px;
    width: 300px;
    background-color: #FAEED1;   
    padding: 30px;
    margin: 40px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* .card1:hover {
    margin-top: -3px;
    transition: 1.5s;
    transform: scale(0.9);
} */

.card1 img {
    height: 50px;
    border-radius: 5px;
}

.card1 span {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 100;
    margin-left: 0;
    color: rgb(0, 0, 0);
    
}
.card1 p {
    text-align: justify;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    
    /* color: rgb(0, 0, 0); */
}

.container-1{
    height: 400px;
    width: 100%;
    background-color:#DED0B6; 
    font-size: 20px;
    text-align: left;
    
}
h1{
    text-align: center;
}
.text{
    text-align: left;
    margin: 10px;
}

.container-2{
    height: 400px;
    width: 100%;
    background-color:#DED0B6; 
    font-size: 20px;
    text-align: left;
   margin-left: 670px;
}
.container-3{
    height: 300px;
    width: 100%;
    background-color:#DED0B6; 
    font-size: 20px;
    text-align: left;
    
}
.para-2{
    color: rgb(183, 120, 4);
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.para-1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
.slide-show{
    margin: 0 auto;
    display: flex;
    width: 700px;
    height: 400px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.2);
    border: none;
}

.card1 {
    border:none;
    height: 250px;
    width: 300px;
    background-color: #FAEED1;   
    padding: 30px;
    margin: 40px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card1:hover {
    margin-top: -3px;
    transition: 1.5s;
    transform: scale(0.9);
}

.card1 img {
    height: 50px;
    border-radius: 5px;
}

.card1 span {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 100;
    margin-left: 0;
    color: rgb(0, 0, 0);
    
}
.card1 p {
    text-align: justify;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    
    /* color: rgb(0, 0, 0); */
}

.service-header  {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 50px;
    background-color: #F3F1EE;
   
}
.book-type{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}
.adj{
    text-align: center;
}
.type-description{
    text-align: left;
}
.title1{
    background-color: #F3F1EE; 
    margin-bottom: 40px;  
}