.payment-container {
    margin: 140px 50px 50px 0;
    width: 900px;
}

.price-container {
    margin: 140px 50px 50px 0;
    width: 300px;
    height: 230px;
}

.price-fs {
    font-size: 18px;
}

.delivery {
    padding-left: 20px;
}

.inp-card-num {
    width: 250px;
}

.inp-card-valid {
    width: 100px;
}

.inp-card-cvv {
    width: 100px;
}

.card-btn {
    width: 120px;
    font-size: 18px;
}