

.body{
    margin: 0;
    padding: 0;
}
.book-tilte{
    text-align: center;
}
.container{
    margin-left: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.brown-bg {
    background-color: #D2B48C; /* light brown color */
    padding: 20px; /* Add padding for better appearance */
    min-height: 100vh;
    
}

.Book_image_card{
    height:200px;
    margin-left:40px;
    margin-top:20px;
    box-shadow: 1px 0 5px 1px  rgb(159, 158, 158);
}
.product_conatiner{
    width: 100px;
    height:auto;
    min-width:230px;
    border:none;
    margin: 20px;
    padding:10px;
    cursor: pointer;
    justify-content: center;
    background-color: #eee4d5;
}
.use_of_product{
    background-color: gray;
    border-radius: 20px;
    color: #F3F1EE;
    width: 100px;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: -10px;
    margin-top: -20px;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
}  

.Like_symbol{
    height:25px;
    margin-left:85%;
    margin-top: -50px;

} 
.book_name{
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
   font-size: 20px;
}
.book_author{
    margin-top: -10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
   

}
.book_price{
    font-size: 20px;
}
.del_price{
    color: gray;
    font-size: 15px;
}
.add_to_cart{
    justify-content: center;
        margin-left: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 100px;
        font-style: normal;
        font-size: 15px;
        background-color:rgb(183, 120, 4);
        border-radius: 30px;  
        border: none;
        color: white;
       margin-bottom: 10px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100vh;
    background-color: lightbrown;
  }
  
  .sidebar h1 {
    margin-bottom: 20px;
  }
  
  .sidebar button {
    background-color: #8b4513;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    border-radius: 20px;
  }
  .sidebar button:hover {
    color: black;
  }
  .sidebar .me-3 {
    color: #333;
  }
  .centered-button {
    display: block;
    margin: 0 auto;
}
  
  