
.book-tilte{
    text-align: center;
}
.container{
   
    
    margin-left: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.Book_image_card{
    
    height:180px;
    margin-left:40px;
    margin-top:2px;
    box-shadow: 1px 0 5px 1px  rgb(159, 158, 158);
}
    
.product_conatiner{
    width: 100px;
    height:400px;
    min-width:230px;
    border:none;
   margin: 20px;
    padding:10px;
    cursor: pointer;
    justify-content: center;
    background-color: #F3F1EE;
    
}

.use_of_product{
    background-color: gray;
    border-radius: 20px;
    color: #F3F1EE;
    width: 100px;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: -10px;
    margin-top: -20px;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
   

}  
.book_name{
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
   font-size: 20px;
   margin-left: 50x;
   
}
.book_author{
    margin-top: -10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
    margin-left: 30px;
    
   

}
.book_price{
    font-size: 20px;
    margin-left: 20px;
   
}
.del_price{
    color: gray;
    font-size: 15px;
    margin-left: 20px;
    
}


.rating-star{
    height:15px;
    
}

.img{
    text-decoration: none;
    color: black;

}


.add_to_cart{
    justify-content: center;
    margin-left: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 15px;
   background-color:rgb(183, 120, 4);
   border-radius: 30px;
   margin-left: 5px;
   border: none;
   color: white;
   margin-left: 50px;
   
}

.name{
    margin-left: 30px;
}



