.form-container{
    padding:10px;
    display:inline-block;
    border:2px solid rgb(99, 137, 156); 
  border-radius:20px;
  box-shadow: 10px 10px 10px 10px  gray;
  margin: 300px;
  margin-left: 500px;
}
.btn,
.option-btn,
.delete-btn,
.white-btn{
    display: inline-block;
    padding: 1rem 3rem;
    cursor: pointer;
    color:#000;
    font-size:1.8rem;
    text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
    background-color: #DED0B6;
}

.btn{
    background-color: #DED0B6;
}

.option-btn{
    background-color:orange;

}

.delete-btn{
    background-color: red;
}

html{
    font-size:x-small;
}
    

.form-container  form{
    padding: 2rem;
    width: 500px;
    border-radius:10px;
    text-align: center;

}

.form-container  form h3{
    
    
    text-transform:uppercase ;
    color: black;
}

.form-container  form .box{
    
    border-radius: .5rem;
    background-color: light-bg;
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color:black;
    margin:1rem 0;


}

.form-container  form p{
    padding-top: 1.5rem;
    font-size: 2rem;
    color:black;

}

.form-container  form p a{
    color:#000;
}

.form-container  form p a:hover{
    text-decoration: underline;
}

.img{
    height:500px;
    
}

.title{
    font-size: 50px;
}





